body {
    /* Base64 encoded transparent gif */
    background: lightgreen;
  }
  
  *{
      padding: 0;
  }
  
  body{
      font: 16px "Roboto";
  }
  
  .conteiner{
      width: 800px;
      margin:0 auto;
      padding: 0 20px;
  }
  
  .header{
      padding: 1px;
  }
  .header img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
  }
  .photo,
  .author{
      display:inline-block;
  }
  .author{
      margin-left: 15px;
      vertical-align: top;
  }
  .info_box span{
      color: rgb(71, 25, 4);
  }
  h2{
    margin-left: 10px;
      vertical-align: centr;
      padding-left: 150px;
  }
  h3{
      text-align: center;
      color: darkblue;
  }
  
  hr{
      border: none;
      color: black;
      background-color: black;
      height: 2px;
  }
  p1{margin-left: 250px;
      vertical-align: centr;
      padding-left: 150px
    
  }
  p{
      text-decoration: none;
      color: black;
      font-family: "Verdana",sans-serif;
  }
    
  li{
      margin: 0px 0;
      vertical-align: right;
      padding-right: 30px;
    list-style-type: none;
  }
  .contacts{
       text-align:Right;
  }
  ul{
    margin-left: 230px;
      vertical-align: centr;
      padding-left: 150px
  }
  table, th, td {
    border:1px solid black;
  }